#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
}

.tower {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 5rem;
  background-position: bottom; 
  padding-bottom: 59px;
  border-radius: 50px;
}

.disc {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50px;
}

.discCyan {
  width: 150px;
}

.discBlue {
  width: 200px;
}

.discGreen {
  width: 250px;
}

.discYellow {
  width: 300px;
}

.discRed {
  width: 350px;
}

.flag {
  position: relative;
  bottom: 10px;
  left: 68px;
  width: 75px;
}

.flag img {
  width: 100%;
}

.confetti-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.full-screen-confetti {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
