#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
}

.tower {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
  width: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-top: 5rem;
  margin-bottom: 2rem;
  background-position: bottom; 
  padding-bottom: 55px;
}

.disc {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}

.discCyan {
  width: 150px;
  align-items: center;
}

.discBlue {
  width: 200px;
  align-items: center;
}

.discGreen {
  width: 250px;
  align-items: center;
}

.discYellow {
  width: 300px;
  align-items: center;
}

.discRed {
  width: 350px;
  align-items: center;
}
